# ----------------------------------------
# Python cache
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Pyenv / virtualenv / venv
# ----------------------------------------
/venv

# ----------------------------------------
# IDE / Editor files
# ----------------------------------------
.vscode/

# ----------------------------------------
# packaging
# ----------------------------------------
/animeface_detect
/categorize_characters

# ----------------------------------------
# sample
# ----------------------------------------
/deep_learning_zero1/sample
/deep_learning_zero1/dataset/*.gz
/deep_learning_zero1/dataset/*.png
